/* Reset */

/* html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    color: #000;

}

body {
    font-size: 1.6rem;
}

h1 {
    font-size: 3rem;
}

.container {
    margin: 10px 15px;
} */

.gear {
    /* color: silver; */
}